{% load i18n %}

	<h1>{% blocktrans %}{{ category }} Competition{% endblocktrans %}</h1>
	
	
	<h2>{{ competition.left.name }} vs. {{ competition.right.name }}</h2>
	
	{% include 'notorhot/new_competition.html' %}
	
	<div id="competition">
		<div class="candidate left">
			{% with candidate=competition.left winning_side=competition.SIDES.LEFT %}
				{% include 'notorhot/competition_candidate.html' %}
			{% endwith %}
		</div><!-- /left -->
		
		<span>vs.</span>
		
		<div class="candidate right">
			{% with candidate=competition.right winning_side=competition.SIDES.RIGHT %}
				{% include 'notorhot/competition_candidate.html' %}
			{% endwith %}
		</div><!-- /right -->
	</div><!-- /competition -->

