	<h1>{{ competition.left.name }} vs. {{ competition.right.name }}</h1>
	
	{% include 'notorhot/new_competition.html' %}
	
	<div id="competition">
		<div class="left">
			{% with candidate=competition.left winning_side=competition.SIDES.LEFT %}
				{% include 'notorhot/competition_candidate.html' %}
			{% endwith %}
		</div><!-- /left -->
		
		<span>vs.</span>
		
		<div class="right">
			{% with candidate=competition.right winning_side=competition.SIDES.RIGHT %}
				{% include 'notorhot/competition_candidate.html' %}
			{% endwith %}
		</div><!-- /right -->
	</div><!-- /competition -->

