{% load i18n %}

	<h1>{% trans "Leaders" %}</h1>
	
	{% include 'notorhot/new_competition.html' %}
	
	{% if leaders %}

		<table class="leaderboard">
			<thead>
				<tr>
					{% include 'notorhot/leader_table_head.html' %}
				</tr>
			</thead>
		
			<tbody>
				{% for leader in leaders %}
					<tr>
						{% include 'notorhot/leader_table_body.html' %}
					</tr>
				{% endfor %}
			</tbody>
		
			<tfoot>
			</tfoot>
		</table>

	{% else %}

		<p>{% trans "Sorry, we can't show any leaders until competitions have been voted on." %}</p>
		{% include 'notorhot/new_competition.html' %}	

	{% endif %}
